<div class="mb-3">
    <input type={{type}}
    class="form-control"
    [class.is-invalid]="ngControl.touched && ngControl.invalid"
    [formControl]="control"
    placeholder={{label}}>

    <div class="invalid-feedback" *ngIf="control.errors?.['required']">
        Please enter a {{label}}
    </div>

    <div class="invalid-feedback" *ngIf="control.errors?.['minLength']">
        {{label}} must be at least {{control.errors?.['minLength'].requiredLength}} characters
    </div>

    <div class="invalid-feedback" *ngIf="control.errors?.['maxLength']">
        {{label}} must be at most {{control.errors?.['maxLength'].requiredLength}} characters
    </div>

    <div class="invalid-feedback" *ngIf="control.errors?.['notMatching']">
        Passwords do not match
    </div>
</div>