.card {
    border: none;
}
.img-fluid {
    max-width: 50%;
    height: auto;
    border-radius: 50%;
}
.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #B3A9A9;
}

.rounded-circle {
    max-height: 50px;
}